*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header-left, .footer-left{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    color: #EF6E72;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 38px;
}

.header-right ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.header-right ul li ul {
    display: none;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
    width: 165px;
}

.header-right ul li{
    padding: 18px 0;
    width: 100%;
    text-align: center;
}

.header-right ul li:hover ul{
    display: flex;
    flex-direction: column;
}

.header-right ul li ul li{
    background-color: #303542;
}

.header-right ul li ul li:hover{
    background-color: #242830;
}

.header-right ul li ul li a:hover{
    color: #FFFFFF;
    font-weight: normal;
}

.header-right ul li a{
    text-decoration: none;
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li a:hover{
    color: #FFFFFF;
}

.drama-list{
    color: #EF6E72;
    font-weight: bold;
}

.drama-list:hover{
    cursor: pointer;
    background-color: #242830;
    color: #FFFFFF;
}

.header-right .nav-about{
    color: #FFFFFF;
    font-weight: bold;
}

.header-right .nav-login, .header-right .nav-register{
    color: #F2BF57;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.header-right .nav-login:hover, .header-right .nav-register:hover{
    color: #FFFFFF;
}

.about-us-desc{
    display: flex;
    background-color: #242830;
    height: 400px;
}

.left-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content{
    width: 600px;
    text-align: justify;
}

.right-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-container h1, .left-content h1, .our-teams-container h1, .company-culture h1{
    color: #EF6E72;
}

.right-container h3, .left-content p, .single-member p{
    color: #FFFFFF;
    font-weight: normal;
}

.logo{
    background-color: #303542;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    box-shadow: 3px 3px black;
    margin-bottom: 10px;
}

.logo img{
    height: 200px;
    width: 200px;
}

.our-teams{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-teams-container{
    width: 1200px;
}

.list-members{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}

.single-member{
    background-color: #303542;
    width: 300px;
    margin: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: transform .2s;
    box-shadow: 4px 4px black;
}

.single-member:hover{
    transform: scale(1.02);
}

.single-member img{
    width: 200px;
    height: 240px;
    border-radius: 50%;
    padding: 20px 0;
}

.single-member h4{
    font-weight: bold;
    color: #FFFFFF;
}

.company-culture{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.company-culture h1{
    text-align: end;
    margin: 0 140px;
}

.culture-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.left-culture{
    width: 50%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-culture-content{
    width: 460px;
    color: #FFFFFF;
}

.left-culture-content p{
    font-weight: normal;
}

.left-culture-content li{
    font-weight: bold;
}

.list-content{
    margin: 20px 0;
}

.right-culture{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-culture img{
    width: 500px;
    height: 400px;
}

.company-career{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.company-career h1{
    text-align: start;
    margin: 0 140px;
    color: #EF6E72;
}

.career-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.right-career{
    width: 50%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-career-content{
    width: 500px;
    color: #FFFFFF;
}

.right-career-content li{
    font-weight: bold;
    margin: 5px 100px;
    padding-left: 10px;
    
}

.list-content{
    margin: 20px 0px;
}

.left-career{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-career img{
    width: 500px;
    height: 400px;
}

.company-investor{
    background-color: #242830;
}

.company-investor h1{
    color: #EF6E72;
    text-align: center;
}

.company-investor img{
    width: 250px;
}

.top-investor-content{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.bottom-investor-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.bottom-investor-container img{
    width: 350px;
}

.center-investor{
    width: 300px;
    height: 100px;
}

.center-investor img{
    width: 300px;
}

.bottom-investor{
    margin: 0 -140px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    height: 120px;
}

footer p{
    color: #EF6E72;
    font-weight: bold;
}

.footer-right{
    margin-right: 38px;
    width: 220px;
    height: 80px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.header-right .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.header-right .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

/* Tablet */
@media screen and (max-width: 900px) {
    .header-right{
        font-size: 12px;
    }

    .about-us-desc{
        height: 100%;
        padding-bottom: 5%;
    }

    .left-content{
        width: 100%;
        margin-left: 10%;
    }

    .left-content p{
        font-size: 12px;
    }
    
    .right-container, .left-container{
        width: 50%;
    }

    .right-container{
        padding-top: 5%;
    }

    .right-container h3{
        font-size: 14px;
    }

    .logo, .logo img{
        width: 140px;
        height: 140px;
    }

    .our-teams, .our-teams-container{
        height: 100%;
        width: 100%;
    }

    .company-culture{
        width: 100%;
        height: 100%;
        padding: 4% 0;
    }

    .left-culture{
        height: 100%;
        padding-left: 4%;
    }

    .left-culture p{
        font-size: 14px;
    }

    .right-culture img, .left-career img{
        width: 400px;
        height: 300px;
    }

    .company-career{
        height: 100%;
        padding: 2% 0;
    }

    .right-career{
        height: 100%;
    }
}

/* HP */
@media screen and (max-width: 500px) {
    .header-right ul {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #303542;
        transition: top 1s ease;
        padding: 0;
        display: none;
    }

    .drama-list:hover{
        background: none;
        color: #FFFFFF;
        font-size: 1.0rem;
        transition: .2s ease;
    }

    .header-right ul .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header-right .openMenu{
        display: block;
    }

    .header-right ul li a:hover {
        background: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        transition: .2s ease;
    }

    .header-right{
        justify-content: flex-end;
        height: 100%;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }

    i{
        color: #EF6E72;
    }

    .header-right ul li ul {
        display: none;
        margin-top: 15px;
        position: static;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .header-right ul li{
        padding: 18px 0;
        width: 100%;
        text-align: center;
    }

    .right-container{
        display: none;
    }

    .about-us-desc, .company-culture, .company-career, .center-investor{
        height: 100%;
    }

    .left-container{
        width: 100%;
        height: 300px;
        padding-top: 20px;
    }

    .left-content{
        padding: 10px 0;
        width: 340px;
    }

    .list-members{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .company-culture h1{
        text-align: center;
        margin: 0;
    }
    
    .culture-content{
        width: 100%;
        flex-direction: column;
    }
    
    .left-culture, .left-career{
        width: 100%;
    }
    
    .left-culture-content{
        width: 50%;
    }
    
    .list-content p{
        font-size: 14px;
    }

    .company-career h1{
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .career-content{
        flex-direction: column;
    }

    .right-career{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .right-culture img, .left-career img{
        width: 300px;
        height: 300px;
    }

    .company-investor{
        width: 100%;
        padding: 0 0 30px 0;
    }

    .top-investor-content{
        flex-direction: column;
        align-items: center;
    }

    .top-investor{
        margin: 3px;
    }

    .top-investor img{
        width: 200px;
        height: 200px;
    }

    .center-investor img{
        height: 100px;
        width: 300px;
    }

    .bottom-investor-container{
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .bottom-investor img{
        height: 200px;
        width: 260px;
    }

    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    footer-left, .header-left, .footer-right{
        margin: 0;
    }

    footer p{
        margin: 10px 0;
    }
}