*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header-left, .footer-left{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    color: #EF6E72;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 38px;
    /* background-color: aqua; */
}

.header-right ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    /* padding: 0; */
    width: 100%;
    /* background-color: rebeccapurple; */
}

.header-right ul li ul {
    display: none;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
    width: 165px;
}

.header-right ul li{
    padding: 18px 0;
    width: 100%;
    text-align: center;
}

.header-right ul li:hover ul{
    display: flex;
    flex-direction: column;
}

.header-right ul li ul li{
    background-color: #303542;
}

.header-right ul li ul li:hover{
    background-color: #242830;
    /* color: #F2BF57; */
}

.header-right ul li ul li a:hover{
    /* background-color: #242830; */
    color: #FFFFFF;
    font-weight: normal;
}

.header-right ul li a{
    text-decoration: none;
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li a:hover{
    color: #FFFFFF;
}

.drama-list{
    color: #EF6E72;
    font-weight: bold;
}

.drama-list:hover{
    cursor: pointer;
    background-color: #242830;
    color: #FFFFFF;
}

.header-right .nav-about{
    color: #FFFFFF;
    font-weight: bold;
}

.header-right .nav-login, .header-right .nav-register{
    /* background-color: #F2BF57; */
    color: #F2BF57;
    /* width: 72px; */
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    /* filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25)); */
}

.header-right .nav-login:hover, .header-right .nav-register:hover{
    color: #FFFFFF;
}

.about-us-desc{
    display: flex;
    background-color: #242830;
    height: 400px;
}

.left-container{
    /* background-color: blue; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content{
    width: 600px;
    text-align: justify;
}

.right-container{
    /* background-color: #F2BF57; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-container h1, .left-content h1, .our-teams-container h1, .company-culture h1{
    color: #EF6E72;
}

.right-container h3, .left-content p, .single-member p{
    color: #FFFFFF;
    font-weight: normal;
}

.logo{
    background-color: #303542;
    height: 200px;
    width: 200px;
    /* margin-top: 100px; */
    border-radius: 40px;
    /* filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 3px 3px black;
    margin-bottom: 10px;
}

.logo img{
    height: 200px;
    width: 200px;
}

.our-teams{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.our-teams-container{
    /* background-color: rebeccapurple; */
    width: 1200px;
    /* height: 400px; */
}

.list-members{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}

.single-member{
    background-color: #303542;
    width: 300px;
    margin: 10px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: transform .2s;
    box-shadow: 4px 4px black;
}

.single-member:hover{
    transform: scale(1.02);
}

.single-member img{
    width: 200px;
    height: 240px;
    border-radius: 50%;
    padding: 20px 0;
}

.single-member h4{
    font-weight: bold;
    color: #FFFFFF;
}

.company-culture{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.company-culture h1{
    /* background-color: white; */
    text-align: end;
    /* padding-right: 120px; */
    margin: 0 140px;
}

.culture-content{
    /* background-color: #F2BF57; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    /* height: 1400px; */
}

.left-culture{
    /* background-color: red; */
    width: 50%;
    height: 380px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}

.left-culture-content{
    /* background-color: #EF6E72; */
    width: 460px;
    color: #FFFFFF;
}

.left-culture-content p{
    font-weight: normal;
}

.left-culture-content li{
    font-weight: bold;
}

.list-content{
    margin: 20px 0;
}

.right-culture{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */

}

.right-culture img{
    /* background-color: #EF6E72; */
    width: 500px;
    height: 400px;
}

/* mulai dari sini */
.company-career{
    background-color: #242830;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.company-career h1{
    text-align: start;
    margin: 0 140px;
    color: #EF6E72;
}

.career-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.right-career{
    width: 50%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-career-content{
    width: 500px;
    color: #FFFFFF;
}

.right-career-content li{
    font-weight: bold;
    margin: 5px 100px;
    padding-left: 10px;
    
}

.list-content{
    margin: 20px 0px;
}

.left-career{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.left-career img{
    width: 500px;
    height: 400px;
}

.company-investor{
    background-color: #242830;
}

.company-investor h1{
    color: #EF6E72;
    text-align: center;
}

.company-investor img{
    /* background-color: green; */
    width: 250px;
}

.top-investor-content{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;

}

.bottom-investor-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.bottom-investor-container img{
    width: 350px;
}

.center-investor{
    width: 300px;
    height: 100px;
}

.center-investor img{
    width: 300px;
}

.bottom-investor{
    /* background-color: green; */
    margin: 0 -140px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    height: 120px;
}

footer p{
    color: #EF6E72;
    font-weight: bold;
}

.footer-right{
    margin-right: 38px;
    width: 220px;
    height: 80px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}




