*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header-left, .footer-left{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    color: #EF6E72;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 38px;
}

.header-right ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.header-right ul li ul {
    display: none;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
    width: 165px;
}

.header-right ul li{
    padding: 18px 0;
    width: 100%;
    text-align: center;
}

.header-right ul li:hover ul{
    display: flex;
    flex-direction: column;
}

.header-right ul li ul li{
    background-color: #303542;
}

.header-right ul li ul li:hover{
    background-color: #242830;
}

.header-right ul li ul li a:hover{
    color: #FFFFFF;
    font-weight: normal;
}

.header-right ul li a{
    text-decoration: none;
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li a:hover{
    color: #FFFFFF;
}

.drama-list{
    color: #EF6E72;
    font-weight: bold;
}

.drama-list:hover{
    cursor: pointer;
    background-color: #242830;
    color: #FFFFFF;
}

.header-right .nav-home{
    color: #FFFFFF;
    font-weight: bold;
}

.header-right .nav-login, .header-right .nav-register{
    color: #F2BF57;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.header-right .nav-login:hover, .header-right .nav-register:hover{
    color: #FFFFFF;
}

.upper-content{
    height: 400px;
    background: url('../assets/chicago.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.benefit-container{
    width: 410px;
    margin: 66px 724px 66px 114px;
    display: inline-block;
}

.benefit-container h1{
    font-size: 60px;
    color: #EF6E72;
}

.benefit-container p{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 35px;
    text-align: justify;
}

.benefit-container a{
    background-color: #F2BF57;
    text-decoration: none;
    font-weight: bold;
    color: #242830;
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.2s;
}

.benefit-container a:hover{
    background-color: #ffab04;
    transform: scale(1.1);
}

.lower-content{
    height: 548px;
    background-color: #242830;
}

.movie-container{
    margin-top: 40px;
    display: inline-block;
}

.movie-container h4{
    padding-left: 10px;
    color: #EF6E72;
    text-align: left;
}

.content-container{
    text-align: center;
}

.movie-pict{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    
}

.movie-pict img{
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
    height: 160px;
    transition: transform .2s;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.movie-pict img:hover{
    transform: scale(1.1);
}

#prev-movie, #next-movie{
    width: 25px;
    height: 25px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    height: 120px;
}

footer p{
    color: #EF6E72;
    font-weight: bold;
}

.footer-right{
    margin-right: 38px;
    width: 220px;
    height: 80px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

button{
    background-color: #303542;
    border: none;
    transition: transform .2s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.header-right .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.header-right .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

/* HP  */
@media all and (max-width: 500px){
    .benefit-container h1{
        font-size: 40px;
    }

    .benefit-container p{
        font-size: 13px;
    }

    .benefit-container a{
        width: 100%;
        font-size: 16px;
    }

    .movie-pict{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .movie-pict img{
        margin: 5px 0;
    }

    .movie-container h4{
        text-align: center;
        font-size: 20px;
    }

    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .header-right ul {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #303542;
        transition: top 1s ease;
        padding: 0;
        display: none;
    }

    .drama-list:hover{
        background: none;
        color: #FFFFFF;
        font-size: 1.0rem;
        transition: .2s ease;
    }

    .header-right ul .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header-right .openMenu{
        display: block;
    }

    .header-right ul li a:hover {
        background: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        transition: .2s ease;
    }

    .header-right{
        justify-content: flex-end;
        height: 100%;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }

    i{
        color: #EF6E72;
    }

    .header-right ul li ul {
        display: none;
        margin-top: 15px;
        position: static;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .header-right ul li{
        padding: 18px 0;
        width: 100%;
        text-align: center;
    }

    .footer-left, .header-left{
        margin: 0;
    }

    footer p{
        margin: 10px 0;
    }

    .footer-right{
        margin:0;
    }
}

/* TABLET */
@media screen and (max-width: 900px) {
    .header-right{
        font-size: 12px;
    }

    .upper-content{
        display: flex;
        align-items: center;
    }

    .benefit-container{
        margin: 3%;
    }

    .benefit-container a{
        width: 100%;
    }

    .lower-content{
        height: 100%;
        padding-bottom: 4%;
    }
    
    .movie-container{
        width: 100%;
    }

    .movie-pict{
        width: 100%;
        align-items: center;
    }

    .movie-pict img{
        height: 100px;
        width: 150px;
    }

    #next, #previous{
        height: 30px;
        width: 40px;
    }
}
