*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.header-left, .footer-left{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    color: #EF6E72;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 38px;
}

.header-right ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
}

.header-right ul li ul {
    display: none;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
    width: 165px;
}

.header-right ul li{
    padding: 18px 0;
    width: 100%;
    text-align: center;
}

.header-right ul li:hover ul{
    display: flex;
    flex-direction: column;
}

.header-right ul li ul li{
    background-color: #303542;
}

.header-right ul li ul li:hover{
    background-color: #242830;
}

.header-right ul li ul li a:hover{
    color: #FFFFFF;
    font-weight: normal;
}

.header-right ul li a{
    text-decoration: none;
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li a:hover{
    color: #FFFFFF;
}

.drama-list{
    color: #EF6E72;
    font-weight: bold;
}

.drama-list:hover{
    cursor: pointer;
    background-color: #242830;
    color: #FFFFFF;
}

.header-right .nav-plans{
    color: #FFFFFF;
    font-weight: bold;
}

.header-right .nav-login, .header-right .nav-register{
    color: #F2BF57;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.header-right .nav-login:hover, .header-right .nav-register:hover{
    color: #FFFFFF;
}

.content{
    height: 800px;
    background-color: #242830;
}

.upper-content{
    height: 250px;
    text-align: center;
    color: #EF6E72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-content h3{
    font-size: 24px;
}

.upper-content p{
    margin-top: 10px;
    font-size: 14px;
}

.lower-content{
    height: 500px;
    display: flex;
    justify-content: center;
}

.plan-container{
    display: flex;
}

.plan-container a{
    text-decoration: none;
    color: white;
    background-color: #303542;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 190px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    font-size: 18px;
}

.plan-container h3{
    font-size: 30px;
}

.plan-container p{
    font-size: 15px;
}

.plan-container h2{
    font-size: 40px;
}

.plan-container ul{
    padding-left: 30px;
    text-align: left;
    font-weight: bold;
}

.plan-flag{
    margin: auto;
}

#plan{
    margin: 0 0 20px 20px;
    width: 350px;
    height: 470px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #242830;
}

.silver{
    background-color: #f2bf57;
    transition: transform .2s;
    box-shadow: 3px 3px black;
}

.silver:hover{
    background-color: #f7b634;
    transform: scale(1.05);
}

.gold{
    background-color: #e5c0c0;
    transition: transform .2s;
    box-shadow: 3px 3px black;
}

.gold:hover{
    background-color: #e7adad;
    transform: scale(1.05);
}

.diamond{
    background-color: #ef6e72;
    transition: transform .2s;
    box-shadow: 3px 3px black;
}

.diamond:hover{
    background-color: #f5575c;
    transform: scale(1.05);
}

.choose-plan:hover{
    background-color: #242830;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    height: 120px;
}

footer p{
    color: #EF6E72;
    font-weight: bold;
}

.footer-right{
    margin-right: 38px;
    width: 220px;
    height: 80px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

.header-right .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.header-right .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

/* HP  */
@media screen and (max-width: 500px) {
    .header-right ul {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #303542;
        transition: top 1s ease;
        padding: 0;
        display: none;
    }

    .drama-list:hover{
        background: none;
        color: #FFFFFF;
        font-size: 1.0rem;
        transition: .2s ease;
    }

    .header-right ul .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .header-right .openMenu{
        display: block;
    }

    .header-right ul li a:hover {
        background: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        transition: .2s ease;
    }

    .header-right{
        justify-content: flex-end;
        height: 100%;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }

    i{
        color: #EF6E72;
    }

    .header-right ul li ul {
        display: none;
        margin-top: 15px;
        position: static;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .header-right ul li{
        padding: 18px 0;
        width: 100%;
        text-align: center;
    }

    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    footer-left, .header-left, .footer-right{
        margin: 0;
    }

    footer p{
        margin: 10px 0;
    }

    .plan-container{
        flex-direction: column;
        align-items: center;
    }

    #plan{
        width: 300px;
        height: 400px;
    }
}

/* TABLET */
@media screen and (max-width: 900px) {
    .header-right{
        font-size: 12px;
    }

    .content{
        height: 100%;
        width: 100%;
    }

    .lower-content{
        height: 100%;
        padding-bottom: 30px;
    }

    .plan-container{
        width: 100%;
    }

    .plan-flag h2{
        font-size: 32px;
    }
}