*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25); */
}

.header-left, .footer-left{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 38px;
    color: #EF6E72;
}

.header-right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 38px;
    /* background-color: aqua; */
}

.header-right ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    /* padding: 0; */
    width: 100%;
    /* background-color: rebeccapurple; */
}

.header-right ul li ul {
    display: none;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
    width: 165px;
}

.header-right ul li{
    padding: 18px 0;
    width: 100%;
    text-align: center;
}

.header-right ul li:hover ul{
    display: flex;
    flex-direction: column;
}

.header-right ul li ul li{
    background-color: #303542;
}

.header-right ul li ul li:hover{
    background-color: #242830;
    /* color: #F2BF57; */
}

.header-right ul li ul li a:hover{
    /* background-color: #242830; */
    color: #FFFFFF;
    font-weight: normal;
}

.header-right ul li a{
    text-decoration: none;
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li a:hover{
    color: #FFFFFF;
}

.drama-list{
    color: #EF6E72;
    font-weight: bold;
}

.header-right ul li .nav-subscription{
    color: #FFFFFF;
}

.drama-list:hover{
    cursor: pointer;
    background-color: #242830;
    color: #FFFFFF;
}

.header-right .nav-login, .header-right .nav-register{
    /* background-color: #F2BF57; */
    color: #F2BF57;
    /* width: 72px; */
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    /* filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25)); */
}

.header-right .nav-login:hover, .header-right .nav-register:hover{
    color: #FFFFFF;
}

.container{
    display: flex;
    background-color: #242830;
    height: 820px;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #242830;
}

.logo{
    background-color: #303542;
    height: 300px;
    width: 300px;
    margin-top: 100px;
    border-radius: 40px;
    /* filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 3px 3px black;
}

.logo img{
    height: 300px;
    width: 300px;
}

.colorful-box{
    margin-top: 50px;
    width: 100%;
    height: 370px;
}

.right-container{
    width: 30%;
    background-color: #303542;
    display: flex;
    justify-content: center;
    /* background-color: green; */
}

.subscribe-now{
    background-color: #EF6E72;
    text-decoration: none;
    font-weight: bold;
    color: #303542;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    font-size: 18px;
    transition: transform 0.2s;
    margin-top: 20px;
    box-shadow: 3px 3px black;
}

.subscribe-now:hover{
    background-color: #F2BF57;
    cursor: pointer;
}

#error-email, #error-password, #error-gender, #error-plan, #error-agreement{
    color: #F2BF57;
    font-weight: normal;
    font-size: 12px;
    /* background-color: #EF6E72; */
    width: 100%;
}

.form-title{
    padding-top: 30px;
    margin: 80px 0 50px 0;
    width: 300px;
    color: #EF6E72;
    /* background-color: #303542; */
}

.form-title h2{
    font-size: 40px;
}

.form-title p{
    font-size: 18px;
}

.form-content{
    color: #EF6E72;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* background-color: red; */
    width: 300px;
}

.email-container, .password-container{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    background-color: #EFE2E2;
    margin-bottom: 5px;
    border-radius: 50px;
    height: 50px;
    padding: 14px 20px;
    margin: 10px 0;
}

.form-content select{
    height: 35px;
    border-radius: 8px;
    background-color: #EFE2E2;
    color: #787C87;
    font-weight: bold;
    /* background-color: red; */
}

.email-container img, .password-container img{
    text-align: center;
    width: 20px;
    height: 20px;
}

.email-container input, .password-container input{
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: #787C87;
}

.gender{
    display: flex;
    width: 100%;
    /* background-color: red; */
}

.gender .male, .female{
    margin: 10px 15px 10px 0;
}

select{
    width: 100%;
    margin: 10px 0;
}

.tnc{
    margin: 10px 0;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303542;
    height: 120px;
}

footer p{
    color: #EF6E72;
    font-weight: bold;
}

.footer-right{
    margin-right: 38px;
    width: 220px;
    height: 80px;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
}

/* Tablet */
@media screen and (max-width: 900px) {
    .header-right{
        font-size: 12px;
    }

    .container{
        height: 100%;
    }
    .left-container{
        width: 50%;
    }
    
    .logo{
        height: 220px;
        width: 220px;
    }
    
    .logo img{
        height: 220px;
        width: 220px;
    }

    .colorful-box{
        height: 300px;
    }

    .right-container{
        width: 50%;
    }

    .form-title h2{
        font-size: 30px;
    }

    .form-title p{
        font-size: 16px;
    }

    .form-content{
        font-size: 14px;
    }
}

/* HP  */
@media screen and (max-width: 670px) {
    .container{
        flex-direction: column;
    }

    .left-container, .right-container{
        width: 100%;
    }

    .left-container{
        display: none;
    }

    .right-container{
        background-color: #242830;
        padding-bottom: 20%;
    }

    .form-title h2{
        font-size: 24px;
    }

    .form-title p{
        font-size: 16px;
    }

    .form-content{
        font-size: 12px;
    }

    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    footer-left, .header-left{
        margin: 0;
    }

    footer p{
        margin: 10px 0;
    }

    .footer-right{
        margin:0;
    }

    .header-right{
        display: none;
    }
}